@model IEnumerable<RssReader.Models.Subscription>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <div class="card-columns">
        @foreach (var subscription in Model)
        {

            <div class="card border-light shadow p-3 mb-5 bg-white rounded">
                <img class="card-img-top" src="@subscription.ImgSrc" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="@subscription.Url">@subscription.Title</a></h5>
                    <p class="card-text">@subscription.Discription</p>
                    <p class="card-text text-right"><small class="text-muted">@{subscription.PubDate}</small></p>

                </div>

            </div>

}


    </div>
</div>